// DEFAULT DOCUMENT STYLES
html {
  box-sizing: border-box;
  font-size: $fontsize+px; // $fontsize - берется из _vars.scss
}

*,
*::before,
*::after {
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;

  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  -webkit-font-feature-settings: 'liga';
  font-feature-settings: 'liga';
  box-sizing: inherit;
  outline: none;
}

::placeholder {
  color: $font-dark;
}

::selection {
  color: $primary-light;
  background-color: $primary-accent;
}

body {
  position: relative;
  min-width: 320px;
  overflow-x: hidden;
  color: $font-dark;
  font-size: $fontsize+px; // $fontsize - берется из _vars.scss
  //font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica', 'Arial', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-family: $text-font;
  background-color: $primary-light;

  &::-webkit-scrollbar {
    width: $scrollbar-width;
  }

  &::-webkit-scrollbar-track {
    background-color: $scrollbar-track-color;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $scrollbar-thumb-color;
    border: $scrollbar-thumb-border;
    border-radius: $scrollbar-thumb-radius;
  }
}

input,
textarea {
  outline: none;

  &:required:valid {
    border-color: $success-color;
  }

  &:focus:required:invalid {
    border-color: $error-color;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
li,
p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

a {
  color: $primary-accent;
  text-transform: none;
}

li {
  list-style-type: none;
}

.section {
  margin: 20px 0;
}

.no-scroll {
  padding-right: $scrollbar-width;
  overflow: hidden;
  pointer-events: none;
}
