/* ==========  BREAKPOINTS MIXINS  ========== */

/* ==========  Desktop First  ========== */

@mixin _1200 {
  @media all and (max-width: 1200px) {
    @content;
  }
}

@mixin _1170 {
  @media all and (max-width: 1170px) {
    @content;
  }
}

@mixin _1024 {
  @media all and (max-width: 1024px) {
    @content;
  }
}

@mixin _992 {
  @media all and (max-width: 992px) {
    @content;
  }
}

@mixin _768 {
  @media all and (max-width: 768px) {
    @content;
  }
}

@mixin _600 {
  @media all and (max-width: 600px) {
    @content;
  }
}

@mixin _576 {
  @media all and (max-width: 576px) {
    @content;
  }
}

@mixin _480 {
  @media all and (max-width: 480px) {
    @content;
  }
}

@mixin _360 {
  @media all and (max-width: 360px) {
    @content;
  }
}

@mixin _320 {
  @media all and (max-width: 320px) {
    @content;
  }
}
