// USER VARIABLES SECTION

// simple colors
$success-color: green;
$error-color: red;
$primary-light: #fff; // Primary Light Color
$primary-dark: #000; // Primary Dark Color
$primary-accent: #7896b9; // Primary Accent Color
$secondary-accent: #bec30f; // Secondary Accent Color
$section-bg-accent: #d2e1f5; // Section Background Accent Color
$section-bg-gradient: radial-gradient(circle at 100%, #7896b9, #324b73); // Section Gray Background Color
$footer-bg: #5a646e; // Footer Background Color
$section-bg-secondary: rgba($footer-bg, 0.15); // Section Background Secondary Color
$popup-bg: rgba(#324b73, 0.75%); // Popup Background Color
$product-card-overlay: rgba($secondary-accent, 0.85%); // Overlay Color

// font colors
$font-light: #fff; // Primary Light Font Color
$font-dark: #414648; // Primary Dark Font Color
$title-color: $font-dark; // Primary Title Color

// fonts
$title-font: 'Ubuntu-Bold', sans-serif;
$title-heading-font: 'Ubuntu-Light', sans-serif;
$text-font: 'OpenSans', sans-serif;
$text-font-italic: 'OpenSans-Italic', sans-serif;
$text-heading-font: 'OpenSans-Bold', sans-serif;
$fontsize: 18; // Html, Body Primary Font Size

// font-size
$modal-title-font-size: 88px;
$main-title-font-size: 75px;
$title-font-size: 30px;
$text-font-size: 15px;
$text-sm-font-size: 13px;
$text-lg-font-size: 18px;

// line-height
$text-line-height: 1.4;

// borders
$product-image-border-left-radius: 15px;
$slider-bullet-radius: 3px;
$card-border: 1px solid rgba($font-dark, 0.2);
$card-border-details: 2px solid #fff;
$form-input-border: 1px solid rgba($footer-bg, 0.2%);
$border-radius: 12px;

// shadows
$header-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

//UTILITIES
$container-width: 1180px;
$scrollbar-width: 0.5em;
$scrollbar-track-color: #ccc;
$scrollbar-thumb-color: #aaa;
$scrollbar-thumb-radius: 5px;
$scrollbar-thumb-border: 2px solid #ccc;
$transition: all 0.35s ease-in-out;

// Bootstrap compatible gutter variables
$grid-gutter-width: 20px;
$gutter: $grid-gutter-width;

// Bootstrap container breakpoints
$container-max-widths: (sm: 540px,
md: 720px,
lg: 960px,
xl: 1170px);

// Bootstrap color variables
$primary: $primary-accent;
$btn-border-radius: 0;
$nav-pills-border-radius: 0;
