.post {
  .headline-content {
    margin-bottom: 0;
  }
}

.post-content {
  clear: both;
  padding-bottom: 50px;

  .post-image {
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 100px;

    @include _768 {
      margin: 10px auto;
    }
  }

  p {
    margin-bottom: 27px;
  }

  .post-image-decription {
    margin-top: 10px;
    font-size: $text-lg-font-size;
    font-family: $text-heading-font;
  }
}

.related-products {
  margin-bottom: 100px;
}

.product-card {
  position: relative;
  z-index: 3;
  text-align: left;

  @include _768 {
    text-align: center;
  }

  .stretched-link:hover {
    text-decoration: none;
  }
}

.product-card-img {
  margin-bottom: 10px;
  border: $card-border;
  border-top-right-radius: $product-image-border-left-radius;
}

.product-card-title {
  display: block;
  color: $title-color;
  font-size: $text-lg-font-size;
  font-family: $title-font;
}

.card-price {
  margin: 10px 0 30px;
  font-size: $text-font-size;

  .price {
    margin-right: 4px;
    font-family: $text-heading-font;
  }
}

.products-slider {
  overflow: hidden;
}

.related-products-container {
  position: relative;

  .swiper-related-buttons {
    position: absolute;
    top: 50%;
    left: -6%;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 112%;
    transform: translateY(-60%);

    @include _1024 {
      left: 0;
      width: 100%;
    }

    .swiper-button {
      max-width: 30px;

      &-next {
        transform: scale(-1);
      }
    }
  }
}
