.section-cart {
  padding-bottom: 120px;
}

.table-responsive {
  .table td,
  .table th {
    padding: 1.5rem 1rem;
    border-top: none;
    border-bottom: $card-border;
  }

  .table thead th {
    color: $font-dark;
    font-size: $text-font-size;
    font-family: $text-heading-font;
    border-top: none;
    border-bottom: $card-border;
  }

  .table td,
  .table tbody th {
    font-size: $text-font-size;
  }

  .product-link {
    color: $font-dark;
    font-family: $text-font;

    &:hover {
      color: $primary-accent;
      font-family: $text-heading-font;
      text-decoration: none;
    }
  }

  .product-counter {
    max-width: 70px;
    padding-left: 15px;
    border: $card-border;
    border-radius: $border-radius;
  }

  .product-remove-btn {
    background-color: $primary-light;
    border: none;
    outline: none;

    & > svg {
      width: 20px;
      height: 25px;
    }
  }

  .discount-info {
    font-family: $text-heading-font;
  }
}

.cart-summury {
  .order-tax {
    font-size: $text-font-size;
  }

  .order-total-price {
    font-family: $text-heading-font;
  }

  .cart-buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 40px auto;
  }

  .order-btn {
    color: $font-light;
    background-color: $primary-accent;
    border: $primary-accent;

    &:hover {
      background-color: $secondary-accent;
    }
  }
}
