.header-serch {
  height: 285px;
  margin-bottom: 50px;
  padding: 0 15px;
  background-image: url('//via.placeholder.com/1920x285');
  background-position: center;
  background-size: cover;

  .search-form {
    position: relative;
    top: 50%;
    max-width: 485px;
    margin: auto;
    transform: translateY(-50%);

    input {
      width: 100%;
      padding: 15px 50px 15px 25px;
      border: none;
      border-radius: 12px;
      box-shadow: $header-shadow;
    }

    .search-icon {
      position: absolute;
      top: 50%;
      right: 0;
      width: 47px;
      padding-right: 30px;
      transform: translateY(-50%);
      cursor: pointer;
    }
  }
}

.breadcrumbs > a {
  color: $font-dark;
  font-size: $text-font-size;
  line-height: 1.6;
}

.headline-content {
  margin-bottom: 70px;
}

.headline-title {
  margin: 50px 0 40px;
  color: $font-dark;
  font-size: $title-font-size;
  font-family: $title-font;
}

.headline-description {
  .read-more {
    color: $primary-accent;
    font-family: $text-heading-font;
  }
}

.category-list {
  margin-bottom: 80px;
}

.category-card {
  margin-bottom: 40px;
  overflow: hidden;
  text-align: center;
  border-top-right-radius: $product-image-border-left-radius;

  .image-wrapper {
    position: relative;

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: $secondary-accent;
      opacity: 0;
      transition: $transition;
      content: "";
    }
  }

  &:hover {
    .image-wrapper::before {
      opacity: 0.5;
    }
  }

  .category-title {
    margin-top: 10px;
    color: $title-color;
    font-size: $text-lg-font-size;
    font-family: $text-heading-font;
    text-align: center;
  }
}
