.product-container {
  padding: 50px 0;

  .add-product {
    color: $font-light;
    font-size: $text-lg-font-size;
    font-family: $text-heading-font;
    background-color: $primary-accent;

    @include _600 {
      margin-top: 15px;
    }

    &:hover {
      background-color: $secondary-accent;
      border-color: $secondary-accent;
    }

    & > svg {
      width: 30px;
      height: 30px;
      margin-right: 10px;
      fill: $primary-light;
    }
  }

  .link-back {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    font-size: $text-lg-font-size;
    font-family: $text-heading-font;

    & > svg {
      width: 20px;
      height: 20px;
      margin-right: 10px;
      transition: $transition;
      fill: $primary-accent;
    }

    &:hover {
      color: $primary-accent;

      svg {
        width: 22px;
      }
    }
  }

  .product-title {
    margin-bottom: 10px;
    font-size: $title-font-size;
    font-family: $title-font;
  }

  .product-articule,
  .product-package {
    font-size: $text-font-size;
    line-height: 1.6;
  }

  .product-description {
    margin-top: 40px;
    margin-bottom: 40px;
    line-height: 1.5;
  }

  .product-price {
    margin-bottom: 40px;
  }

  .product-price-title {
    font-size: $text-lg-font-size;
    font-family: $text-heading-font;
    line-height: 1.5;
  }

  .product-price-netto {
    font-size: $text-lg-font-size;

    .price {
      font-family: $text-heading-font;
    }
  }

  .product-price-brutto {
    font-size: $text-font-size;

    .price {
      font-family: $text-heading-font;
    }
  }

  .products-quantity {
    padding: 0 10px;
  }

  .cart-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 70px;

    @include _600 {
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }

  .form-title {
    font-size: $text-lg-font-size;
    font-family: $text-heading-font;
  }

  .products-quantity-input {
    max-width: 90px;
    padding: 13px 0 13px 13px;
    text-align: center;
    border: $card-border;
    border-radius: $border-radius;
  }

  .gallery-top {
    width: 100%;
    height: 80%;
  }

  .swiper-slide {
    border: $card-border;
    border-top-right-radius: $product-image-border-left-radius;
  }

  .swiper-container-thumbs {
    overflow: hidden;
  }

  .gallery-thumbs {
    height: 20%;
    padding: 20px 0;
  }

  .gallery-thumbs .swiper-slide {
    width: 25%;
    height: 100%;
  }
}
