.sidebar {
  margin-top: 60px;
  margin-bottom: 50px;

  .sidebar-divider {
    display: block;
    width: 100%;
    height: 1px;
    margin: 40px 0;
    background-color: $footer-bg;
  }

  .widget-list {
    margin-left: 17px;
  }

  .widget-title {
    margin-bottom: 15px;
    color: $title-color;
    font-size: $text-lg-font-size;
    font-family: $title-font;
  }

  .widget-list-item {
    position: relative;
    margin: 5px 0;
    color: $font-dark;
    font-size: $text-font-size;
    font-family: $text-font;
    transition: $transition;

    .drop-toggler {
      position: absolute;
      top: 4px;
      left: 0;
      display: block;
      width: 12px;
      height: 14px;
      transform: translateX(-150%) rotate(90deg);
      transition: $transition;
      content: "";

      &:hover {
        cursor: pointer;
      }
    }

    .widget-list-link {
      color: $font-dark;
      transition: $transition;
    }

    .children {
      display: none;
    }

    &.active {
      color: $primary-accent;
      font-family: $text-heading-font;

      & > .widget-list-link {
        color: $primary-accent;
      }

      & > .drop-toggler {
        transform: translateX(-150%) rotate(-90deg);
      }

      & > .children {
        display: block;
        margin-left: 20px;
      }
    }
  }

  .active-filters {
    margin-bottom: 20px;
    padding-left: 15px;
  }

  .active-filters-keyword {
    position: relative;
    display: inline-block;
    margin-right: 25px;
    font-size: $text-font-size;
    font-family: $text-heading-font;
    cursor: pointer;

    &::before,
    &::after {
      position: absolute;
      top: 50%;
      left: 0;
      width: 15px;
      height: 1px;
      background-color: $primary-accent;
      transform: translate(-125%, -50%) rotate(45deg);
      content: "";
    }

    &::after {
      transform: translate(-125%, -50%) rotate(-45deg);
    }
  }

  .search-keywords {
    margin: 0 -8px;
  }

  .search-keyword {
    margin: 7px;

    &.is-active {
      background-color: $secondary-accent;
      border-color: $secondary-accent;
    }
  }
}

.headline-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.products-view-toggler {
  svg {
    width: 25px;
    height: 25px;
    fill: $font-dark;
  }

  .btn {
    padding: 5px;
    border-radius: 0;

    &:hover {
      background-color: $primary-light;
      border-color: $primary-light;
    }

    &.active {
      & > svg {
        fill: $primary-accent;
      }
    }

    &.list-view {
      svg {
        width: 28px;
      }
    }
  }
}

.category-list {
  .product-card {
    &.horizontal {
      display: flex;
      align-items: center;

      .product-card-info {
        margin-left: auto;
        padding-left: 10px;
        text-align: right;
      }

      .product-card-title {
        font-size: $text-lg-font-size;
      }
    }
  }

  .product-img-overlay {
    position: relative;
    margin-bottom: 10px;
    padding: 10px;
    overflow: hidden;
    border: $card-border;
    border-top-right-radius: $product-image-border-left-radius;
    cursor: pointer;

    .overlay-content {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 0 35px;
      background-color: $product-card-overlay;
      opacity: 0;
      transition: $transition;

      .overlay-content-inner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .overlay-content-item {
        display: block;
        padding: 8px 15px;
        font-size: $text-sm-font-size;
        font-family: $text-heading-font;
        text-align: center;
        border: $card-border-details;
        border-radius: $border-radius;

        &.details-link {
          margin-bottom: 20px;
          color: $font-light;
          text-decoration: none;
        }

        &.product-meta {
          display: flex;
          align-items: center;
          justify-content: space-between;
          background-color: $primary-light;
        }

        .product-meta-counter {
          display: inline-block;
          margin: 0 10px;
          padding: 3px 12px;
          border: $card-border;
          border-radius: $border-radius;
        }

        .product-meta-cart {
          display: block;
          width: 20px;
          height: 20px;
          fill: $secondary-accent;
        }
      }
    }

    &:hover .overlay-content {
      opacity: 1;
    }
  }
}

.products-about-info {
  margin-bottom: 50px;
  font-size: $text-font-size;
}
