.section-features {
  padding-bottom: 120px;

  .section-content {
    max-width: 100%;
  }

  .headline-description {
    column-count: 2;

    @include _768 {
      column-count: 1;
    }

    .intro-text {
      display: block;
    }
  }

  .section-title {
    margin-bottom: 35px;
    color: $title-color;
    font-size: $title-font-size;
    font-family: $title-font;
  }

  .nav-pills {
    margin: 0 -8px;

    .nav-link {
      margin: 7px;
      padding: 13px 25px;
      color: $font-light;
      font-family: $text-font;
      background-color: $primary-accent;
      border-radius: $border-radius;
      transition: $transition;

      &.active {
        background-color: $secondary-accent;
      }
    }
  }

  .tab-pane {
    position: relative;
  }

  .tab-slider {
    overflow: hidden;
  }
}

.feature-card {
  height: 100%;
  overflow: hidden;
  text-align: center;
  background-color: $primary-light;
  border: $card-border;
  border-top-right-radius: $product-image-border-left-radius;

  @include _768 {
    max-width: 380px;
    margin: 0 auto;
  }
}

.card-image {
  max-height: 240px;
}

.card-text-content {
  padding: 20px 30px 30px;
  color: $font-dark;
  font-size: $text-font-size;
  font-family: $text-font;
  text-align: left;
}

.card-title {
  margin-bottom: 15px;
  font-size: $text-lg-font-size;
  font-family: $title-font;
  line-height: $text-line-height;
}

.card-description {
  margin-bottom: 15px;
  font-size: $text-lg-font-size;
}

.card-price {
  margin-bottom: 30px;
  font-size: $text-lg-font-size;

  .price {
    margin-right: 4px;
    font-family: $text-heading-font;
  }
}

.btn {
  padding: 12px 25px;
  font-size: $text-sm-font-size;
  font-family: $text-heading-font;
  border-radius: $border-radius;

  &:hover {
    background-color: $secondary-accent;
    border-color: $secondary-accent;
  }
}

.features-container {
  .swiper-buttons {
    position: absolute;
    top: 50%;
    left: -4%;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 108%;
    transform: translateY(-50%);

    @include _1024 {
      left: 0;
      width: 100%;
    }
  }

  .swiper-button {
    max-width: 30px;

    &-next {
      transform: scale(-1);
    }
  }
}
