.footer {
  padding: 90px 0 110px;
  color: $font-light;
  background-color: $footer-bg;

  .footer-logo {
    max-width: 200px;
    margin-bottom: 40px;
  }

  .company-address {
    font-family: $text-font;
    line-height: 1.5;
  }

  .company-name {
    color: $font-light;
    font-family: $text-heading-font;
  }

  .contacts {
    margin-top: 25px;
  }

  .contact-link {
    color: $font-light;
  }

  .contact {
    display: block;
  }

  .products-categories {
    @include _768 {
      margin: 10px 0;
    }
  }

  .category-link,
  .footer-nav-link {
    color: $font-light;
  }

  .footer-social {
    display: flex;
    align-items: center;
  }

  .footer-social-icons {
    display: flex;
    align-items: center;

    .footer-social-link {
      display: inline-block;
      max-width: 18px;
      margin-left: 25px;
    }
  }

  .footer-meta {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @include _768 {
      justify-content: start;
      margin-top: 20px;
    }

    .footer-nav-link {
      margin-right: 35px;
    }
  }
}
