.header {
  box-shadow: $header-shadow;

  .top-nav {
    & > ul {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    .counter {
      margin-right: 5px;
    }

    .icon {
      &-mark {
        width: 20px;
      }

      &-cart {
        width: 20px;
      }

      &-user {
        width: 20px;
      }
    }
  }

  .navbar {
    padding: 30px 0;

    @include _992 {
      padding: 10px;
    }

    .nav-item {
      & + .nav-item {
        margin-left: 25px;

        @include _1170 {
          margin-left: 0;
        }
      }

      .nav-link {
        color: $font-dark;
        font-size: $text-lg-font-size;
        font-family: $text-heading-font;
      }
    }

    .top-nav {
      .nav-item {
        .nav-link {
          display: flex;
          align-items: center;
          color: $font-dark;
          font-size: $text-font-size;
          font-family: $text-font;

          >img {
            margin-right: 10px;

            @include _768 {
              max-width: 15px;
              margin-right: 5px;
            }
          }
        }
      }
    }
  }

  .header-logo {
    max-width: 265px;

    @include _768 {
      max-width: 230px;
    }
  }
}
