.section-inspiration {
  margin: o;
  padding: 70px 60px;

  @include _768 {
    padding: 30px 30px;
  }

  .slider-wrapper {
    position: relative;
  }

  .inspiration-slider {
    position: relative;
    z-index: 4;
    overflow: hidden;
  }

  .insp-post {
    text-align: left;

    @include _768 {
      text-align: center;
    }
  }

  .insp-post-img {
    margin-bottom: 22px;
    border-top-right-radius: $product-image-border-left-radius;
  }

  .insp-post-title {
    display: block;
    color: $title-color;
    font-family: $text-heading-font;
    transition: $transition;

    &:hover {
      color: $primary-accent;
      text-decoration: none;
    }
  }

  .swiper-insp-buttons {
    position: absolute;
    top: 50%;
    left: -6%;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 112%;
    transform: translateY(-50%);
  }

  .swiper-button {
    max-width: 30px;

    &-next {
      transform: scale(-1);
    }
  }
}
