.section-intro {
  margin-top: 0;
  margin-left: -15px;

  @include _768 {
    margin: auto;
  }

  .intro-slider {
    position: relative;
    overflow: hidden;
  }

  .swiper-wrapper {
    display: flex;
    align-items: center;
  }

  .swiper-buttons {
    position: absolute;
    right: 30px;
    bottom: 35px;
    z-index: 3;
    display: flex;
    align-items: center;
  }

  .swiper-button {
    width: 17px;

    &-prev {
      transform: scale(-1);
    }
  }

  .swiper-pagination-bullet {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 5px;
    background-color: $primary-light;
    border-radius: 0;

    &-active {
      background-color: $secondary-accent;
    }
  }
}

.section-content {
  max-width: 570px;

  .headline-title {
    margin: 70px 0 50px;
    font-size: $main-title-font-size;
    font-family: $title-heading-font;
    line-height: 1.2;

    .headline-accent {
      display: block;
      color: $primary-accent;
    }
  }

  .headline-description {
    margin-bottom: 50px;
    font-size: $text-lg-font-size;
    font-family: $text-font;
    line-height: 1.5;
  }

  .search-form {
    position: relative;
    max-width: 485px;
    margin-bottom: 35px;

    input {
      width: 100%;
      padding: 15px 50px 15px 25px;
      border: 1px solid $primary-accent;
      border-radius: 12px;
    }

    .search-icon {
      position: absolute;
      top: 50%;
      right: 0;
      width: 47px;
      padding-right: 30px;
      transform: translateY(-50%);
      cursor: pointer;
    }
  }

  .search-keywords {
    display: flex;
    flex-flow: row wrap;
    margin: 0 -8px;
  }

  .search-keyword {
    margin: 7px;
    padding: 13px 25px;
    color: $primary-light;
    font-size: $text-lg-font-size;
    font-family: $text-font;
    background-color: $primary-accent;
    border-radius: $border-radius;
    transition: $transition;

    &:hover,
    &.is-active {
      background-color: $secondary-accent;
      cursor: pointer;
    }
  }
}
