.modal-window {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  background-color: $popup-bg;
  transform: scale(0.5);
  opacity: 0;
  transition: $transition;
  pointer-events: none;

  &.show {
    transform: scale(1);
    opacity: 1;
    pointer-events: all;

    .login-form {
      margin-right: $scrollbar-width;
    }
  }

  .modal-form {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 620px;
    padding: 40px 65px 65px;
    text-align: center;
    background-color: $primary-light;
    box-shadow: $header-shadow;
    transform: translate(-50%, -50%);

    &.location {
      max-width: 800px;
    }

    @include _768 {
      padding: 30px;
    }
  }

  .form-title {
    margin-bottom: 25px;
    color: $font-dark;
    font-size: $modal-title-font-size;
    font-family: $title-heading-font;
    text-align: left;
  }

  span[data-close] {
    position: absolute;
    top: 30px;
    right: 30px;
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url('../img/close-button.svg');
    cursor: pointer;
  }

  .form-row {
    display: flex;
    flex-direction: column;
    margin: 25px 0 20px;
    text-align: left;
  }

  label {
    cursor: pointer;
  }

  input {
    display: block;
    padding: 14px 30px;
    font-family: $text-font-italic;
    border: $form-input-border;
    border-radius: $border-radius;
  }

  .pass-reset-link {
    margin-top: 10px;
    font-size: $text-font-size;
    text-align: right;
  }

  .form-headline {
    text-align: left;
  }

  .headline-title {
    font-size: $modal-title-font-size;
    font-family: $title-heading-font;
    line-height: 1.2;

    .headline-accent {
      display: block;
      color: $primary-accent;
    }
  }

  .modal-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .modal-text {
    max-width: 315px;
    margin-right: 15px;
    text-align: left;

    .choose-location {
      margin-bottom: 20px;
      font-size: $text-lg-font-size;
      font-family: $text-font;
    }
  }
}
