.section-recommended {
  padding-bottom: 70px;
  background-color: $section-bg-secondary;

  .section-content {
    max-width: 100%;
  }

  .card-image {
    padding: 5px 15px;
    text-align: center;
  }

  .feature-card {
    max-height: 623px;

    &.horizontal {
      display: flex;
      align-items: center;
      height: auto;

      @include _768 {
        flex-direction: column;
      }
    }

    .card-image {
      order: 1;

      @include _768 {
        order: -1;
      }
    }
  }
}
