.section-rent {
  padding: 0;
  background: radial-gradient(circle at 100%, #7896b9, #324b73);

  .section-content {
    margin: 20px 0 115px;

    @include _768 {
      margin-bottom: 55px;
    }

    .headline-title,
    .headline-accent {
      color: $font-light;
    }

    .headline-description {
      color: $font-light;

      span {
        display: block;
        margin-bottom: 20px;
        font-family: $text-heading-font;
      }
    }
  }
}
